[submodule "BG96-Driver"]
	path = BG96-Driver
	url = https://github.com/aceleste/BG96-Driver.git
[submodule "jsmn"]
	path = jsmn
	url = https://github.com/aceleste/jsmn.git
[submodule "ntp-client"]
	path = ntp-client
	url = https://github.com/ARMmbed/ntp-client
	